# Node.js and Express specific files
node_modules/
package-lock.json

# Environment variables

# Log files
logs/

# Mac OS-specific files
.DS_Store

# Visual Studio Code specific files
.vscode/

# NPM debugging logs
npm-debug.log

# Yarn specific files
yarn-error.log
yarn.lock

# Dependency directories
public/
uploads/
